{% extends '_base.html' %}
{% block content %}

    <dev class="container">
        <div class="row">

            <div class="col-sm-12">
                {% if user.is_authenticated %}
                    <p>こんにちは {{ user.username }}さん</p>
                {% else %}
                    <p>ログインしてください</p>
                {% endif %}
            </div>

            <div class="col-sm-12">
                <ul>
                    <li><a href="{% url 'twitter_login' %}">Twitterでログイン</a></li>
                    <li><a href="{% url 'stayhome:input' %}">新規作成ボタン</a></li>
                    <li>募集中のやつ一覧を表示させる</li>
                </ul>
            </div>

            <div class="col-sm-12">
                {% for card in cards %}
                    <p>{{ card }}</p>
                    {% if card.card_image %}
                    <img src="{{ card.card_image.url }}"/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </dev>
{% endblock %}