{% extends '_base.html' %}
{% block content %}

    <div class="container">
        <h1>トップ</h1>
        <div class="row">

            <div class="col-sm-12">
                {% if user.is_authenticated %}
                    <p>こんにちは {{ user.username }}さん</p>
                {% else %}
                    <p>ログインしてください</p>
                {% endif %}
            </div>

            <div class="col-sm-12">
                <ul>
                    <li><a href="{% url 'twitter_login' %}">Twitterでログイン</a></li>
                    <li><a href="{% url 'twitter_login_with_application' %}">[仮]Twitterでログインしながら参加</a></li>
                    <li><a href="{% url 'stayhome:input' %}">新規作成ボタン</a></li>
                    <li><a href="{% url 'stayhome:card_list' %}">一覧ページ</a></li>
                </ul>
            </div>

            <div id="cards-list" class="col-sm-12">
                <h3>新着一覧（仮</h3>
                {% for card in cards %}
                    <p>{{ card }}</p>
                    {% if card.card_image %}
                        <img src="{{ card.card_image.url }}"/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}